# Python
*.pyc
*.pyo
*.pyd

# Git
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
tests/
pytest_cache/

# VS Code / IDE
.vscode/
.idea/

# Build files
build/
dist/

# Docker
Dockerfile
docker-compose.yml


# Virtual Environments
.env
.venv
env/
ENV/
new_env/
new_venv/
venv.bak/
env.bak/

__pycache__/
notebook/

