.drop-zone {
    border: 2px dashed #ff4d4d;
    border-radius: 14px;
    padding: 30px;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(0,0,0,0.4);
}

.drop-zone p {
    margin: 0;
    font-size: 18px;
    color: #ff4d4d;
}

.drop-zone span {
    font-size: 13px;
    color: #aaa;
}

.drop-zone.drag-active {
    background: rgba(255, 0, 0, 0.15);
    box-shadow: 0 0 20px red;
    transform: scale(1.03);
}

.drop-zone input {
    display: none;
}
